@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, html {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}
* {
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
}

[dark-mode] {
  background-color: #0c0c0c;
  color: white;
}
.responsive {
  width: 100%;
  max-width: 480px;
  margin: auto;
}
.btn-center {
  display: flex;
  justify-content: center;
}